@font-face {
    font-family: "Goblin";
    src: url("\\czcionki\\Cyberpunk\\Cyberpunk.ttf") format('ttf');
}

@font-face {
    font-family: Cyberpunk;
    src: url("\\czcionki\\Cyberpunk\\Cyberpunk.ttf") format('ttf'),
         url("\\czcionki\\Cyberpunk\\Cyberpunk.otf") format('otf');

}